@charset "iso-8859-1";
/* CSS Document */

div
{
	border:1px solid black;
}
#cabecera
{
}
#columna_izquierda
{
	margin-top:10px;
	float:left;
	width:100px;
}
#columna_derecha
{
	margin-top:10px;
	width:100px;
	float:right;
}
#columna_central
{
	margin:10px;
	margin-left:120px;
	margin-right:120px;
}
#pie
{
clear:both;

}