
body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 5px;}
.demoHeaders { margin-top: 2em; }
#dialog_link {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
#dialog_link span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
ul#icons {margin: 0; padding: 0;}
ul#icons li {margin: 2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
ul#icons span.ui-icon {float: left; margin: 0 4px;}

.textnormal {  font-family: Arial, Geneva, Helvetica, san-serif; font-size: 10px; color: #000000}
.textNonormal {  font-family: Arial, Geneva, Helvetica, san-serif; font-size: 14px; color: #000000}
.combo {  font-family: Arial, Geneva, Helvetica, san-serif; font-size: 10px; font-weight: normal; color: #000000}
.encabezado {  font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: #474747}
.titulo2 {  font-size: 16px; color: #FFFFFF; background-color: #999999; font-weight: bold; font-family: Arial, Helvetica, sans-serif}
.sub-titulo {  background-color: #CCCCCC; font-family: Arial, Geneva, Helvetica, san-serif; font-size: 10px; color: #000000}
.linkoculto {	font-size: 12px; font-style: italic; line-height: normal; text-transform: lowercase; color: #FFFFFF;	background-color: #FFFFFF;}
.pequenho {	font-family: Arial, Helvetica, sans-serif;	font-size: 8px;	font-style: normal;	line-height: normal;	font-weight: normal;
	font-variant: normal;	text-transform: none;	color: #000000;}
.textnormalCartas {  font-family: Arial, Geneva, Helvetica, san-serif; font-size: 14px; color: #000000}
.ImagenFondo {
	/*background-image: url(/wwwroot/imagenes/img_cert-promo.jpg);
	background-repeat: no-repeat;*/
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
.TextoNegritas {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #030303;
}
.TextoNormal {
	font-family: Verdana;
	font-size: 12px;
	color: #030303;
}
.Ligas {
	font-family: Verdana;
	font-size: 10px;
	color: 000099;
	text-decoration: none;
}
.FondoPages {
	background-image: url(imagenes/LogoTuSistFondo.jpg);
	background-repeat: no-repeat;
	background-position: 0px 100px;
}
.Ligas2 {
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	color: 000099;
	text-decoration: none;
}
.textoplantillasGeneranumeros {
	font-family: Arial;
	font-size: 9px;
	color: #030303;
}
.GridEncabezado {
  border: 1px solid #FFFFFF;
  border-right-color: #6C6C6C;
  border-bottom-color: #6C6C6C;
  padding: 0 6px;
  float: none !important; /*Para Opera*/
  float: left; /*Para IE*/
  background: #C0C0C0;
  color: #424242;
  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*Para IE*/
}

.GridCeldas {
	font:normal 10px Tahoma;
	color:#000000;
	padding:4;
	border-bottom:1px solid #D96C00;
}

.evenRow {
	background-color: #FFFFFF;
	//border-bottom:#575757 solid 1px;
	//font-family:Arial;
	//font-size:12px;
}

.oddRow {
	background-color: #D5D5D5;
	//border-bottom:#575757 solid 1px;
	//font-family:Arial;
	//font-size:12px;
}
.rowHiliten td{
/*	border-bottom:1px solid #cccccc;#FCFCCE;*/
	//border-top:1px solid #cccccc;
	background-color: #CCC;
	//height:24px;
	//padding-left:3px;	
}

.rowHiliten a{
	color: #000000;
	font-weight: normal;
}

.rowHiliteb td{
/*	border-bottom:1px solid #cccccc;*/
	//border-top:1px solid #cccccc;
	background-color: #FCFCCE;
	font-weight: bold;
	//height:20px;
	//padding-left:3px;	
}

.rowHiliteb a{
	color: #000000;
	font-weight: bold;
}

#ColIzq{
float: left;
width: 25%;
}

#ColDer{
float: right;
width: 75%;
}

#ContenedorInfo{
overflow:hidden;
}

#CajaDeslizante{
	width:850px;
	margin-left:15px;
	overflow-x:hidden; overflow-y:scroll;
	height: 450px;
	position: absolute;
}