
#Logo {
	position: absolute;
	top: 27px;
	right: 20px;
	background-color: #6699CC;
}

H4 {
	color: #BB0000;
	font-family: "Trebuchet MS", "Arial", sans-serif;
	font-size: 17px;
	font-weight: normal;
	line-height:130%;
	
	margin: 5px 0px 3px 0px;
	padding: 0px 0px 3px 0px;
	
	border-bottom: 1px dotted #666666;
}

.Banner, H1 {
	color: #BB0000;
	font-family: "Trebuchet MS", "Arial", sans-serif;
	font-weight: normal;
	font-size: 26px;
	margin: 0px;
	padding: 7px 0px 13px 17px;
	text-decoration: none;
}

.Banner, H3 {
	color: #333333;
	font-family: "Trebuchet MS", "Arial", sans-serif;
	font-weight: normal;
	font-size: 14px;
	margin: 0px;
	padding: 10px 0px 0px 17px;
	border: none;
}

.CuerpoPagina {
	margin:0;
}

.EncabezadoMenu {
	background-color: #BB0000;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	font-family: "Verdana", "Arial", sans-serif;
	font-size: 12px;
}

.Sombra {
	background-color: #933;
	height:1px;
	font-size: 1px;
	width: 100%;
	z-index: 1;
	position: relative;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #900;
	border-bottom-color: #933;
}


.Panel, .PanelPie {
	color: #666666;
	background-color: #F9F9F9;
	border-left: 1px solid #BCB8B6;
	margin: 0px;
	padding: 0px 0px 5px 0px;
	width: 18%;
	/*height: 100%;*/
	font-size: 11px;
}

.PanelPie {
	border-bottom: 1px solid #BCB8B6;
}

.Panel H3 {
	color: #333333;
	background-color: #E6E6E6;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	font-weight: normal;
	
	margin: 0px;
	padding: 4px 4px 5px 11px;
	
	border: none;
	border-top: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

.Panel .Componente {
	border: none;
	border-top: 1px solid #BCB8B6;
	padding-bottom: 20px;
}

.Panel #PanelOpciones {
	margin: 6px 0px 0px 0px;
}

.ContenidoPanel {
	border: none;
	font-family: "Tahoma", "Trebuchet MS", "Arial", sans-serif;
	font-size: 13px;
	font-weight: normal;
	padding-left: 20px;
}

.Contenido {
	margin: 0px;
	padding: 0px 30px 30px 17px;
	font-size: 13px;
	line-height: 130%;
}
