/* $Id: rstrp.css,v 1 03/Ago/2007 */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}


.fontBigBold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #07488B;
}

.fontBlack {
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #000000;	
}

.MnuLateralSel {
	color: #FFFFFF;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-align: right;
	vertical-align: middle;
	padding:5px;
	background-repeat:  no-repeat;
	background: #4A5E77;
	display: block;
	width:137px;
	height:auto;	
	border-bottom:1px solid #000000;
}
.MnuLateralSel a{
	background: #4A5E77;
	text-align: right;
	vertical-align: middle;
	color: #FFFFFF;
	width:120px;
	text-decoration:none;
	display: block;
	padding:5px;
	border-bottom:1px solid #000000;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.MnuLateralSel a:hover{
	background: #4A5E77;
	color: #FFFFFF;
	border-bottom:1px solid #A40000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height:auto;
}

.MnuLateral {
	color: #FFFFFF;
	height:auto;
	text-decoration:none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	background-repeat:  no-repeat;
	background: #545454;
	display: block;
	width:137px;	
	height:auto;
}
.MnuLateral a{
	background: #545454;
	text-align: right;
	vertical-align: middle;
	color: #FFFFFF;
	width:137px;
	text-decoration:none;
	display: block;
	padding:5px;
	border-bottom:1px solid #000000;
	height:auto;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.MnuLateral a:hover{
	background: #4A5E77;
	color: #FFFFFF;
	border-bottom:1px solid #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.TablaGeneral {
	color: #000000;
	padding: 0px;
	width: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-decoration: none;
}

.TablaEncabezado {
	background-color: #BB0000;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #CCCCCC;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-top: 2px;
	padding-right: 10px;
	padding-bottom: 2px;
	padding-left: 10px;
}
 
.fontBlackBold {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
}

.fontBlackBoldLink {
	font-weight: bold;
	color: #000000;
	display: block;
	width: 90%; 
}

.fontBlackBold a {
	font-weight: bold;
}

.TablaEncabezado a, .sortedTableHeader a{
	font-weight: bold;
	color: #174F02;
	width:100%;
	text-decoration: none;
}


.TablaEncabezado a:hover, .sortedTableHeader a:hover{
	font-weight: bold;
	color: #000;
}
.evenRow {
	/*border-bottom:1px solid #cccccc;*/
	border-top:1px solid #cccccc;
	background-color: #FFFFFF;
	white-space: nowrap;
	font-size: 10px;
	color: #000000;
	height:24px;
	padding-left:3px;
}

.oddRow {
	/*	border-bottom:1px solid #cccccc;*/
	border-top:1px solid #cccccc;
	background-color: #F9EEF1;
	white-space: nowrap;
	font-size: 10px;
	color: #000000;
	height:24px;
	padding-left:3px;
}

.oddRow a img, .evenRow a img {
    border:0px;
}

.rowHiliten td{
/*	border-bottom:1px solid #cccccc;*/
	border-top:1px solid #cccccc;
	background-color: #FCFCCE;
	height:24px;
	padding-left:3px;	
}

.rowHiliten a{
	color: #000000;
	font-weight: normal;
}

.rowHiliteb td{
/*	border-bottom:1px solid #cccccc;*/
	border-top:1px solid #cccccc;
	background-color: #FCFCCE;
	font-weight: bold;
	height:20px;
	padding-left:3px;	
}

.rowHiliteb a{
    
	color: #000000;
	font-weight: bold;
}

.TituloVentana {
    font:20px 'Arial black', Arial, Helvetica, Verdana; 
	font-style:italic; 
	font-smoothing:always; 
	font-weight:normal; 
	text-decoration:none; 
	color:#224FAD;
}


.GridTitulos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #000000;
	font-weight: normal;


}
.GridTextoNormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #000000;
    height: 20px;


}
.GridSubTitulos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	padding: 3px;


}

.FichaTitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #990000;
	color: #FFFFFF;
	text-align: left;
	vertical-align: middle;

}
.FichaSubtitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000033;
	background-color: #FFFFFF;
	font-size: 11px;
	font-weight: bold;
	padding-left: 10px;
	height: 20px;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #990000;
	font-style: italic;


}
.FichaCampoValor {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #F5F8FB;
	color: #333333;
	text-align: left;
	font-weight: bold;
}
.FichaObjetosNoEditables {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight: bold;
}

.FichaObjetos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}


.Botones {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	font-weight: bold;
}

.FichaCampoTitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #F5F8FB;
	height: 20px;
	text-align: left;
	white-space: nowrap;
	color: #000033;
	padding-left: 15px;
	padding-right: 5px;
	padding-top: 1px;
	vertical-align: middle;
	padding-bottom: 1px;
}
.FichaBorde {
	color: #FFFFFF;
	padding-left: 20px;
}


.AlarmaTitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	font-weight: bold;
	text-decoration: blink;

}
.Avisos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000CC;
}

.TextBoxSinBordes {
	border: 0px;
	color: #000000;

}
.FichaCampoValorAlerta {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFFF00;
	height: 24px;
	color: #333333;
}

.tabs {
	background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin: 0;
	font-family: Tahoma;
	font-size: 11px;
	color: #333333;
	width: 100%;
}

.tab, .tab_on {
	background-color: #F6F6F6;
	position: relative;
	z-index: 1;
	float: left;
	padding: 4px 15px 6px 9px;
	margin-left: 7px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #933;
	border-right-color: #933;
	border-left-color: #933;
}

.tab_on {
	background-color: #FFFFFF;
	z-index: 3;
	border-left: 1px solid #999999;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
}
.tab_sombra {
	background-image:url(../Imagenes/CuerpoPagina/TabSombra.gif); 
 	background-position: top left;
 	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	float: left;
	padding: 4px 0px 6px 0px;
	margin: 0px;
	margin-right: -7px;
}
.tab_on a, .tab_on a:hover, .tab_on a:visited {
	font-weight: bold;
	color: #CC3333;
}
.tabrule {
	background-color: #FFFFFF;
	position: relative;
	z-index: 2;
	top: -1px;
	height: 1px;
	font-size: 1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #930;
}

.LigaMenu {
	font-family: "Verdana", "Arial", sans-serif;
	color:#FFFFFF;
	font-size:12px;
}

.LigaMenu, .LigaMenu a:link, .LigaMenu a:visited, .LigaMenu a:active,.LigaMenu  a:hover {
	color:#FFFFFF;
	text-decoration:none;
	font-style: normal;
}

.TablaCaptura {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #F5F8FB;
	color: #333333;
	text-align: left;
	font-weight: bold;
}

.TablaCampoEditable {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #F00012; 
	text-align: left;
	font-style: italic;
	background-color: #F5F8FB;
	#input {	border: 1px solid black; }
	#input:focus { border: 1px solid black; }
	input.error { 	 	
		background-color: #F00012;
		border-bottom-width: 1px;
		border-bottom-style: dotted;
		color: #FFFFFF;
	}		
}
.NoticiaTitulo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	padding: 3px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
}
